@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background{
  position: fixed;
  /* top: 0px, */
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
  pointer-events: none;
  transition: all 0.3s ease;
}
.loader-container body{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  min-height: 100vh;
  text-align: center;
  background: #202629;
}
.loader-container{
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  /* background-color: rgb(0, 0, 0); */
}
.loader-container .wrapper{
  position: absolute;
  top: 250px;
  transform: scale(1.5);
}
.loader-container .loader{
  height: 25px;
 width: 1px;
 position: absolute;
 animation: rotate 3.5s linear infinite;
}
.loader-container .loader .dot{
  top: 30px;
 height: 7px;
 width: 7px;
 background-color: blue;
 border-radius: 50%;
 position: relative;
}
.loader-container .text{
  position: absolute;
  bottom: -345px;
  font-size: 25px;
  font-weight: 700;
  font-family: 'Poppins',sans-serif;
}
@keyframes rotate {
  30%{
    transform: rotate(220deg);
  }
  40%{
  transform: rotate(450deg);
    opacity: 1;
 }
 75%{
  transform: rotate(720deg);
  opacity: 1;
 }
 76%{
  opacity: 0;
 }
 100%{
  opacity: 0;
  transform: rotate(0deg);
 }
}
.loader:nth-child(1){
  animation-delay: 0.15s;
}
.loader:nth-child(2){
  animation-delay: 0.3s;
}
.loader:nth-child(3){
  animation-delay: 0.45s;
}
.loader:nth-child(4){
  animation-delay: 0.6s;
}
.loader:nth-child(5){
  animation-delay: 0.75s;
}
.loader:nth-child(6){
  animation-delay: 0.9s;
}